<h1 class="post-title"><%= @entry.title %></h1>
<p><%= @entry.created_at %></p>
<p class="post-content"><%= @entry.contents %></p>

<h2> Comments </h2>
<%= render @entry.comments %>

<h2> Add a comment </h2>
<%= render 'comments/form' %>

<p><%= link_to("Back to all entries", entries_path) %></p>

