<span class= 'entryTitle'>
	<%= @entry.title %>
</span>
<p id="blogDate"><%= @entry.created_at.to_date %></p>
<br>
<% if @entry.avatar.file? %>
  <%= image_tag @entry.avatar.url %>
<% else %>
<br>
<% end %>
<% if @entry.youtube_url.present? %>
  <div class="embed-container">
    <%= embed(@entry.youtube_url) %>
  </div>
<% end %>
<p class="post-content"><%= simple_format(@entry.contents) %></p>
<p id="entryAuthor"> Written by: <%= @entry.author %> </p>
<div id="commentdiv">
	<h2> Comments </h2>
	<%= render @entry.comments %>

	<h2> Add a comment </h3>
	<%= render 'comments/form' %>

	<p><%= link_to("Back to all entries", entries_path) %></p>
</div>

